.activityBLock {
  position: relative;
  background: blue;
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: space-around;
  align-items: center;
}
.activityItem {
  position: relative;
  height: 100%;
  background: green;
}
.activityContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.activityContainer p {
  background: yellow;
  display: flex;
  padding: 0px 2px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
}
.testBlock {
  position: relative;
  bottom: 2px;
  width: 120px;
  height: 100px;
  background: red;
  margin: 2px;
}
