.mainBlock {
  width: 100%;
  height: 100%;
  position: relative;
}
.activityBLock {
  background: rgb(23, 23, 23);
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: space-around;
  align-items: center;
}
.activityItem {
  height: 100%;
  background: green;
}

.activityContainer > p {
  background: yellow;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  z-index: 1;
}
.testBlock {
  position: absolute;
  opacity: 0;
  padding: 0px 5px;
  top: -30px;
  width: 98vw;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 0, 0, 0.384);
  transition:
    top 0.2s ease-in-out,
    opacity 0.3s ease-in-out;
  z-index: 10;
}
