.Main {
  background-color: black;
  color: white;
}
.Navigation {
  background: rgb(39, 39, 39);
  width: 100%;
}
.navigationItems {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.navigationItems a {
  padding: 5px 20px 5px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.activePath::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  background: rgb(75, 84, 254);
  width: 100%;
  z-index: -1;
}
.navigationItems a:not(.activePath)::before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  background: rgb(75, 84, 254);
  width: 100%;
  z-index: -1;
}

.navigationItems a:not(.activePath):hover::before {
  animation: navSelector 0.2s ease forwards;
}

.navigationItems a:hover {
  text-shadow: 0.2px 0.2px 1px rgb(0, 0, 0);
}
@keyframes navSelector {
  0% {
    height: 0%;
    border-radius: 100%;
  }
  100% {
    height: 100%;
    border-radius: 0%;
  }
}
