:root {
  --postgre-listItem: rgb(249, 217, 163);
}
.dark {
  --postgre-listItem: rgb(26, 31, 79);
}

.mainBlock {
  border-radius: 5px;
  position: relative;
  padding: 5px;
  display: grid;
  justify-items: center;
}

.listItem {
  background: var(--postgre-listItem);
  padding: 10px;
  border-radius: 5px;
  margin: 4px;
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
.spansBlock {
  display: flex;
  align-items: center;
}
.spansBlock > span {
  margin: 2px;
}

.spansBlock > span:first-child {
  color: var(--head-text-color);
  font-size: 13px;
}
.spansBlock > span:last-child {
  color: var(--smpl-text-color);
}
.bttnsBlock {
  width: 125px;
  display: flex;
  justify-content: space-between;
}
.bttnsBlock > button {
  font-size: 12px;
  font-family: "JetBrains Mono", "Fira Code", "Cascadia Code", monospace;
  --font-ui: "Segoe UI", system-ui, sans-serif;
  border-radius: 5px;
  padding: 1px 10px;
}
.deletePeople {
  background: rgba(108, 0, 0, 0.463);
  border: 1.5px rgba(108, 0, 0, 0.463) solid;
  color: red;
}
.editPeople {
  background: rgba(0, 242, 255, 0.226);
  border: 1.5px rgba(0, 242, 255, 0.226) solid;
}
/* --- FORM SUBMIT SECTION --- */
.peopleSF {
  background: var(--postgre-listItem);
  border-radius: 5px;
  width: 43vw;
  padding: 2px;
  margin-top: 3px;
  text-align: center;
}
.peopleSFInput {
  background: transparent;
  border: 0px;
  border-radius: 5px;
  outline: none;
  padding: 4px;
  margin: 6px;
}

.PValid {
  background: rgba(75, 255, 75, 0.518);
  border: 1px rgb(75, 255, 75) solid;
}
.PInvalid {
  background: rgba(255, 0, 0, 0.131);
  border: 1px rgb(105, 2, 2) solid;
}
