.authorDetails {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--reverseForImgs);
  padding: 2px;
  border-radius: 0px 0px 10px 0px;
}
.authorDetails p {
  padding: 4px;
  overflow: hidden;
  max-width: 80px;
  text-wrap: nowrap;
}
.authorDetails img {
  width: 35px;
  border-radius: 100%;
}
