.openedCard {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.384);
}
.cardContent {
  position: relative;
  width: 95%;
  margin: 0 auto;
  background: var(--skills-borders);
}
.cardItem {
  /* background: yellow; */
  display: flex;
}
.cardImg {
  background: green;
  display: flex;
}
.cardImg img {
  min-width: 300px;
  max-width: 700px;
}
.commentSection {
  background: pink;
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.bttnsSection {
  background: red;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.commentContent {
  background: purple;
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px;
}
.commentLeftPart img {
  border-radius: 100%;
  width: 55px;
}
.commentContent p {
  background: green;
}
.commentContent span {
  background: blue;
}
