:root {
  --head-text-color: rgb(40, 30, 10);
  --smpl-text-color: rgb(100, 80, 40);
  --kindOfList-color: rgb(255, 248, 235);
  --sideBar-list-hover: rgb(251, 220, 164);
  --skills-borders: rgb(220, 185, 120);
  --skills-mainArea-bg: rgb(248, 238, 216);
  --skills-headers-bg: rgb(253, 218, 142);
}
.dark {
  --head-text-color: rgb(86, 95, 143);
  --smpl-text-color: rgb(191, 191, 191);
  --kindOfList-color: rgb(13, 25, 60);
  --sideBar-list-hover: rgb(37, 50, 135);
  --skills-borders: rgb(19, 34, 80);
  --skills-mainArea-bg: rgb(25, 42, 100);
  --skills-headers-bg: rgb(6, 15, 40);
}

.mainBox {
  display: flex;
  min-height: calc(100vh - 37px); /* 60px = висота вашого navbar */
}
/* --- SIDEBAR --- */

.sideBar {
  background: var(--kindOfList-color);
  color: var(--head-text-color);
}
.sideBar > h4 {
  padding: 15px 110px 15px 15px;
  border-bottom: 1.5px var(--skills-borders) solid;
}

.linkItem {
  padding: 13px;
  display: flex;
  color: var(--smpl-text-color);
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
.linkItem:hover {
  background: var(--sideBar-list-hover);
}
.sideBarLed {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  filter: blur(1px);
}

.skillsActivePath > li {
  background: var(--sideBar-list-hover);
}
/* --- MAIN AREA --- */

.mainArea {
  background: var(--skills-mainArea-bg);
  width: 100%;
}
.pathText {
  background: var(--skills-headers-bg);
  border-bottom: 1.5px var(--skills-borders) solid;
  border-left: 1.5px var(--skills-borders) solid;
  padding: 15px 0px 15px 15px;
  color: var(--head-text-color);
}
.pathText > h4 {
  font-weight: 100;
}
.pathTextPage {
  font-weight: bold;
}
.exmplDesc {
  background: var(--kindOfList-color);
  margin: 15px;
  padding: 7px;
  border-radius: 5px;
  color: var(--smpl-text-color);
}
.testAreaBlock {
  background: var(--kindOfList-color);
  border-radius: 5px;
  overflow: hidden;
  margin: 15px;
}
.testAreaBlock > p {
  background: var(--skills-headers-bg);
  padding: 9px;
  color: var(--head-text-color);
  font-size: 15px;
  display: flex;
  align-items: center;
}
.testAreaBlock > p::before {
  content: "";
  display: block;
  background: grey;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 5px;
  filter: blur(1px);
}
.testArea {
  padding: 5px;
}
