.mainBox {
  display: flex;
  min-height: calc(100vh - 37px);
}
/* --- SIDEBAR --- */

.sideBar {
  position: relative;
  background: var(--kindOfList-color);
  color: var(--head-text-color);
  width: 240px;
}
.sideBar.closed {
  width: 0px;
}
.sideBar.closed .closeSideBar {
  transform: translate(100%) rotate(180deg);
}
.closeSideBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
  right: 0px;
  width: 20px;
  height: 20px;
}

.closeSideBar::after {
  content: "";
  display: block;
  width: 12px;
  height: 3px;
  background: var(--smpl-text-color);
  transform: rotate(45deg);
}

.closeSideBar::before {
  content: "";
  display: block;
  width: 12px;
  height: 3px;
  background: var(--smpl-text-color);
  transform: rotate(-45deg);
}

.topPartBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topPartBlock > h4 {
  padding: 15px 110px 15px 15px;
  border-bottom: 1.5px var(--skills-borders) solid;
}
.sideBarList {
  overflow: hidden;
  text-wrap: nowrap;
}
.linkItem {
  padding: 13px;
  display: flex;
  color: var(--smpl-text-color);
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
.linkItem:hover {
  background: var(--sideBar-list-hover);
}
.sideBarLed {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  /* filter: blur(1px); */
  animation: blupblup 2s infinite alternate-reverse;
}
@keyframes blupblup {
  from {
    transform: scale(0.95);
    filter: blur(0px);
  }
  to {
    transform: scale(1.05);
    filter: blur(0.7px);
  }
}

.skillsActivePath > li {
  background: var(--sideBar-list-hover);
}
/* --- MAIN AREA --- */

.mainArea {
  background: var(--skills-mainArea-bg);
  width: 100%;
}
.pathText {
  background: var(--skills-headers-bg);
  border-bottom: 1.5px var(--skills-borders) solid;
  border-left: 1.5px var(--skills-borders) solid;
  padding: 15px 0px 15px 15px;
  color: var(--head-text-color);
}
.pathText > h4 {
  font-weight: 100;
}
.pathTextPage {
  font-weight: bold;
}
.exmplDesc {
  background: var(--kindOfList-color);
  margin: 15px;
  padding: 7px;
  border-radius: 5px;
  color: var(--smpl-text-color);
}
.testAreaBlock {
  background: var(--kindOfList-color);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 15px;
}
.testAreaBlock > p {
  background: var(--skills-headers-bg);
  padding: 9px;
  color: var(--head-text-color);
  font-size: 15px;
  display: flex;
  align-items: center;
}
.testAreaBlock > p::before {
  content: "";
  display: block;
  background: grey;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 5px;
  filter: blur(1px);
}
.testArea {
  padding: 25px;
  position: relative;
}
