.experience_content {
  position: relative;
  border-radius: 15px;
  border: 1.5px grey solid;
  background: rgb(var(--bg));
  overflow: hidden;
  z-index: 2;
}
.experiment {
  /* background: red; */
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0%;
  transform: translate(-70%, -180%);
  z-index: 2;
  cursor: pointer;
}
.experiment::before {
  content: "";
  position: absolute;
  height: 19px;
  transform: rotate(35deg);
  border-radius: 0px 0px 10px 0px;
  left: 10px;
  width: 3px;
  background: grey;
  transition: transform 0.4s ease-in-out;
}

.experiment::after {
  content: "";
  position: absolute;
  height: 19px;
  transform: rotate(-35deg);
  border-radius: 0px 0px 0px 10px;
  width: 3px;
  background: grey;
  transition: transform 0.4s ease-in-out;
}
.experiment.closed::before {
  transform: rotate(-35deg);
}
.page-content {
  width: 100%;
}
.experiment.closed::after {
  transform: rotate(35deg);
}
.experience_content > h2 {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 3px;
  background: var(--headers);
  border-bottom: 2px grey solid;
  font-size: var(--h2-section);
}

.exp_content > * {
  padding: 0px 3px;
}
.exp_header {
  background: var(--skill-bg-hover);
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
  border: 1px black solid;
}

.exp_title_date {
  display: flex;
  justify-content: space-between;
}

.exp_place {
  opacity: 0.7;
}
.exp_about {
  width: 50%;
}
.exp_list {
  display: flex;
}
.exp_list > ul {
  display: flex;
  height: 17vw;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.exp_list > ul > li {
  background: var(--skill-bg);
  border: 1.5px grey solid;
  margin-left: 10px;
  text-wrap: wrap;
  margin: 2px;
  padding: 4px;
  max-width: 95%;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
.exp_list > ul > li:hover {
  transform: scale(1.01);
}
