@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --txt-shadow: 0px 0px 0px;
}

.dark {
  --txt-shadow: 0.3px 0.3px 0.4px rgba(0, 0, 0, 0.729);
}

* {
  margin: 0;
  text-shadow: var(--txt-shadow);
  padding: 0;
  font-size: 18px;
  transition: 0.2s;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
}
* a {
  text-decoration: none;
  color: inherit;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  border: 0px solid transparent;
  text-align: center;
  padding: 0px 5px;
  background: none;
  cursor: pointer;
}
input {
  outline: none;
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-main);
  border-top: 3px var(--scrollbar-border) solid;
  border-bottom: 3px var(--scrollbar-border) solid;
  border-radius: 20px;
}
