:root {
  --reverseForImgs: rgba(255, 255, 255, 0.558);
  --nav-bg: rgb(254, 149, 36); /* light */
  --nav-bttn-hover: rgb(255, 89, 0);
  --slider-circle: rgb(255, 255, 0);
  --slider-bg: #2400b2;
  --nav-height: 37px;
  --h2-section: 23px;
  --bg: rgb(254, 243, 226);
  --skill-bg: rgb(255, 189, 74);
  --headers: rgb(252, 222, 85);
  --skill-bg-hover: rgb(254, 228, 84);
  --skill-li-border: grey;
  --head-nice-bg: rgb(251, 97, 97);
  --scrollbar-main: rgba(251, 163, 0, 0.791);
  --scrollbar-border: rgb(25, 0, 255);
}
.dark {
  --reverseForImgs: rgba(0, 0, 0, 0.582);
  --nav-bg: rgb(0, 28, 207); /* dark */
  --nav-bttn-hover: rgb(1, 7, 122);
  --slider-circle: #2400b2;
  --slider-bg: rgb(255, 255, 0);
  --bg: rgb(9, 29, 64);
  --headers: rgb(19, 34, 132);
  --skill-bg: rgb(33, 57, 176);
  --skill-bg-hover: rgb(84, 0, 0);
  --skill-li-border: black;
  --head-nice-bg: rgb(151, 50, 3);
  --scrollbar-main: rgb(14, 14, 112);
  --scrollbar-border: rgb(255, 179, 39);
}
