@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --txt-shadow: 0px 0px 0px;
  --bg: rgb(255, 255, 255);
}

.dark {
  --txt-shadow: 0.3px 0.3px 0.4px rgba(0, 0, 0, 0.729);
  --bg: rgb(0, 0, 0);
}

* {
  margin: 0;
  text-shadow: var(--txt-shadow);
  padding: 0;
  font-size: 18px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
}
* a {
  text-decoration: none;
  color: inherit;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  border: 0px solid transparent;
  text-align: center;
  padding: 0px 5px;
}
