:root {
  --reverseForImgs: rgba(255, 255, 255, 0.558);
  --nav-bg: rgb(254, 149, 36);
  --nav-bttn-hover: rgb(255, 89, 0);
  --slider-circle: rgb(255, 255, 0);
  --slider-bg: #2400b2;
  --nav-height: 37px;
  --h2-section: 23px;
  --bg: rgb(254, 243, 226);
  --skill-bg: rgb(255, 189, 74);
  --headers: rgb(252, 222, 85);
  --skill-bg-hover: rgb(254, 228, 84);
  --skill-li-border: grey;
  --head-nice-bg: rgb(251, 97, 97);
  --scrollbar-main: rgba(251, 163, 0, 0.791);
  --scrollbar-border: rgb(25, 0, 255);
  --head-text-color: rgb(40, 30, 10);
  --form-bg-colour: rgb(250, 197, 100);
  --smpl-text-color: rgb(100, 80, 40);
  --kindOfList-color: rgb(255, 248, 235);
  --sideBar-list-hover: rgb(251, 220, 164);
  --skills-borders: rgb(220, 185, 120);
  --skills-mainArea-bg: rgb(248, 238, 216);
  --skills-headers-bg: rgb(253, 218, 142);
  --input-newImg: white;
  --newImg-submit: rgb(243, 148, 59);
}

.dark {
  --reverseForImgs: rgba(0, 0, 0, 0.582);
  --nav-bg: rgb(0, 28, 207); /* dark */
  --nav-bttn-hover: rgb(1, 7, 122);
  --slider-circle: #2400b2;
  --slider-bg: rgb(255, 255, 0);
  --bg: rgb(9, 29, 64);
  --headers: rgb(19, 34, 132);
  --skill-bg: rgb(33, 57, 176);
  --skill-bg-hover: rgb(84, 0, 0);
  --skill-li-border: black;
  --head-nice-bg: rgb(151, 50, 3);
  --scrollbar-main: rgb(14, 14, 112);
  --scrollbar-border: rgb(255, 179, 39);
  --head-text-color: rgb(180, 190, 240);
  --form-bg-colour: #171b29;
  --smpl-text-color: rgb(191, 191, 191);
  --kindOfList-color: rgb(13, 25, 60);
  --sideBar-list-hover: rgb(37, 50, 135);
  --skills-borders: rgb(19, 34, 80);
  --skills-mainArea-bg: rgb(25, 42, 100);
  --skills-headers-bg: rgb(6, 15, 40);
  --input-newImg: rgb(16, 17, 22);
  --newImg-submit: rgb(88, 105, 234);
}
