:root {
  --h2-section: 23px;
  --bg: 176, 242, 255;
  --skill-bg: rgb(129, 255, 245);
  --headers: rgb(139, 246, 157);
  --skill-bg-hover: rgb(84, 226, 254);
  --skill-li-border: grey;
}
.dark {
  --bg: 16, 1, 47;
  --headers: rgb(66, 0, 97);
  --skill-bg: rgb(37, 31, 95);
  --skill-bg-hover: rgb(84, 0, 0);
  --skill-li-border: black;
}

/* ---WELCOME WINDOW--- */
.welcomeWindow {
  background: rgba(187, 187, 255, 0.254);
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  font-size: 20px;
}

.welcomeBackScrn {
  background: rgb(0, 0, 0);
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcomeBackScrn > button {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}
.welcomeBackScrn > button:hover {
  background: rgb(12, 99, 0);
}
/* ---ABOUT INFO CONTAINER--- */
.aboutInfoContainer {
  display: flex;
  border-bottom: 1.5px solid grey;
  border-radius: 0px 0px 15px 15px;
  background-color: rgba(var(--bg));
}
.aboutImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.shortInfoAbout {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aboutImage > img {
  width: 150px;
  border-radius: 100%;
  height: 150px;
}
.shortInfoAbout {
  display: flex;
  padding: 5px;
}
.detailedInfo {
  width: 60%;
}

/* ---CONTACT LIST--- */

.contactsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contactItem {
  display: flex;
  align-items: center;
}
.contactItem:hover {
  background: rgb(1, 125, 144);

  border-radius: 22px 0px 0px 22px;
}
.contactIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px 0px 0px;
  width: 40px;
  height: 40px;
  border: 1.5px grey solid;
  background: rgba(var(--bg), 1);
  border-radius: 100%;
}
.contactIcon > img {
  position: relative;
  width: 25px;
}
/* SKILLS TOP PART */
.skills_content {
  position: relative;
  border-radius: 15px;
  border: 1.5px grey solid;
  background: rgb(var(--bg));
  overflow: hidden;
  z-index: 2;
}
.skills_content > h2 {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 3px;
  background: var(--headers);
  border-bottom: 2px grey solid;
  font-size: var(--h2-section);
}
.skills_content {
  background: rgba(var(--bg));
  border-top: 2px grey solid;
  border-bottom: 2px grey solid;
  border-radius: 15px;
}

.skills_lvl_stage {
  display: flex;
  text-align: center;
  padding: 2px;
  border-top: 2px grey solid;
  border-bottom: 2px grey solid;
}
.skills_lvl {
  width: 50%;
  border-right: 1.5px grey solid;
}
.skills_stage {
  width: 50%;
  border-left: 1.5px grey solid;
}
.skills_shareStyles > ul {
  display: flex;
  justify-content: space-around;
}
.skills_shareStyles > ul > li {
  position: relative;
  display: flex;
  align-items: center;
}
.statusBall {
  height: 15px;
  width: 15px;
  box-shadow: 0px 0px 1px 0.5px black;
  display: block;
  position: absolute;
  left: -19px;
  border-radius: 100%;
}
/* ---SKILLS TABLE--- */
.skills_table > ul {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 100%;
  flex-wrap: wrap;
}
.skills_table > ul > li {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  background: var(--skill-bg);
  max-width: 50%;
  cursor: pointer;
  border: 1.5px var(--skill-li-border) solid;
}
.skills_table > ul > li.fixed {
  border: 3px rgb(255, 255, 255) solid;
}
.skills_table > ul > li:hover {
  background: var(--skill-bg-hover);
}
.skillStatusBall {
  height: 15px;
  width: 15px;
  display: block;
  border-radius: 100%;
  box-shadow: 0px 0px 1px 0.5px black;
}
.ballsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
/* ---ExpList--- */
.experience_content {
  position: relative;
  border-radius: 15px;
  border: 1.5px grey solid;
  background: rgb(var(--bg));
  overflow: hidden;
  z-index: 2;
}
.experiment {
  /* background: red; */
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0%;
  transform: translate(-70%, -180%);
  z-index: 2;
  cursor: pointer;
}
.experiment::before {
  content: "";
  position: absolute;
  height: 19px;
  transform: rotate(35deg);
  border-radius: 0px 0px 10px 0px;
  left: 10px;
  width: 3px;
  background: grey;
  transition: transform 0.4s ease-in-out;
}

.experiment::after {
  content: "";
  position: absolute;
  height: 19px;
  transform: rotate(-35deg);
  border-radius: 0px 0px 0px 10px;
  width: 3px;
  background: grey;
  transition: transform 0.4s ease-in-out;
}
.experiment.closed::before {
  transform: rotate(-35deg);
}
.page-content {
  width: 100%;
}
.experiment.closed::after {
  transform: rotate(35deg);
}
.experience_content > h2 {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 3px;
  background: var(--headers);
  border-bottom: 2px grey solid;
  font-size: var(--h2-section);
}

.exp_content > * {
  padding: 0px 3px;
}
.exp_header {
  background: var(--skill-bg-hover);
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
  border: 1px black solid;
}

.exp_title_date {
  display: flex;
  justify-content: space-between;
}

.exp_place {
  opacity: 0.7;
}
.exp_about {
  width: 50%;
}
.exp_list {
  display: flex;
}
.exp_list > ul {
  display: flex;
  height: 17vw;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.exp_list > ul > li {
  background: var(--skill-bg);
  border: 1.5px grey solid;
  margin-left: 10px;
  text-wrap: wrap;
  margin: 2px;
  padding: 4px;
  max-width: 95%;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
.exp_list > ul > li:hover {
  transform: scale(1.01);
}
