section > h2 {
  text-align: center;
  position: relative;
  z-index: 2;
  border-radius: 10px;
  padding: 3px;
  background: var(--headers);
  border: 1.5px grey solid;
  font-size: var(--h2-section);
}
