.shopMainBlock {
  display: flex;
  background: rgba(0, 0, 0, 0.401);
}

.shopSideBar {
  background: rgba(145, 145, 145, 0.223);
}
.shopSideBar > h3 {
  font-size: 20px;
  padding: 5px;
}

.shopGenres > li {
  padding: 6px 7px;
}
.shopGenres > li:hover {
  background: grey;
  cursor: pointer;
}
.shopSideBar > p {
  text-align: center;
}
.shopContent {
  width: 100%;
}
.shopTopPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background: rgb(132, 132, 132);
}
.shopTopFunct {
  display: flex;
  align-items: center;
}
.shopCart {
  padding: 3px 5px;
  border: 1px black solid;
  border-radius: 5px;
  margin: 0px 7px;
}
.shopBestDeal {
  display: flex;
  background: rgba(0, 0, 0, 0.572);
  margin: 15px;
  padding: 5px;
}
.bestImg {
  margin-right: 10px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestImg img {
  width: 220px;
  height: 125px;
  border-radius: 3px;
  border: 1px rgb(251, 253, 124) solid;
}
.bestDesc > span {
  background: rgb(103, 103, 1);
  border: 1px yellow solid;
  color: rgb(224, 224, 11);
  padding: 1px 3px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.bestDesc > h3 {
  margin: 7px 0px 2px 0px;
}
.bestPrices {
  display: flex;
  padding: 6px 0px;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.bestPricesText {
  display: flex;
  gap: 10px;
}
.bestPercent {
  display: flex;
  align-items: center;
  background: rgba(0, 128, 0, 0.507);
  color: rgba(2, 193, 2, 0.969);
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
  padding: 3px 10px;
}
.newBestPrice {
  color: rgb(144, 202, 78);
  font-size: 20px;
}
.addToCart {
  border: 1px grey solid;
  padding: 3px 7px;
  border-radius: 5px;
}
.addToCart:hover {
  background: rgb(90, 179, 90);
}
.shopAllGames img {
  width: 275px;
  height: 135px;
}
.shopAllGames > ul {
  /* background: red; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.shopAllGames > ul > li {
  background: rgba(173, 173, 173, 0.603);
}
